/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/storage/admin/
/storage/app/
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
rso4_db-back-januari-07-2026.sql
admin_db.sql
sail
/docker
projess-436012.json
service_key.json
